SetEnvIfNoCase ORIGIN (.*) ORIGIN=$1
Header set Access-Control-Allow-Origin "%{ORIGIN}e" env=ORIGIN
Header set Access-Control-Allow-Credentials "true"
Header set Access-Control-Allow-Methods "POST, GET, HEAD, OPTIONS, TRACE"
Header set Access-Control-Allow-Headers "Link, Location, Accept-Post, Content-Type, Slug, Origin, Authorization"
Header set Access-Control-Expose-Headers "User, Location, Link, Vary, Last-Modified, ETag, Accept-Patch, Accept-Post, Updates-Via, Allow, Content-Length"
Header set Vary "Origin, Accept-Encoding"

Header set Link '<https://toot.cat/@rhiaro>; rel="me"'
Header set Link '<https://github.com/rhiaro>; rel="me"'
Header set Link '<https://rhiaro.co.uk/pub.php>; rel="micropub"'
Header add Link '<https://rhiaro.co.uk/pub.php>; rel="outbox"'
Header add Link '<https://webmention.io/rhiaro.co.uk/webmention>; rel="webmention"'
Header add Link '<https://indieauth.com/auth>; rel="authorization_endpoint"'
Header add Link '<https://tokens.indieauth.com/token>; rel="token_endpoint"'
Header add Link '<https://rhiaro.co.uk/incoming/>; rel="http://www.w3.org/ns/ldp#inbox"'
Header add Link '<https://rhiaro.co.uk/preferencesfile>; rel="http://www.w3.org/ns/pim/space#preferencesFile"'
Header add Link '<https://rhiaro.co.uk/ldn/constraints>; rel="http://www.w3.org/ns/ldp#constrainedBy"'

RewriteEngine on
RewriteBase /

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^incoming(/)?$ /vendor/sloph/ldn.php [QSA,L]
RewriteRule ^outgoing(/)?$ /vendor/sloph/pub.php [QSA,L]
RewriteRule ^nanowrimo(/)?$ /vendor/sloph/nanowrimo.php [QSA,L]
RewriteRule ^set(/)?$ /vendor/sloph/page.php [QSA,L]

RewriteRule ^thesis(/)?$ https://rhiaro.github.io/thesis [L]

RewriteRule ^(writes|likes|checkins|arrives|consumes|eats|acquires|stuff|events|bookmarks|reposts|rsvps|notes|places|follows|words|travel)(/)?$ /types.php?type=$1 [QSA,L]

RewriteRule ^archive(/)?$ /archive.php [QSA,L]
RewriteRule ^articles(/)?$ /articlelisting.php [QSA,L]
RewriteRule ^contact(/)?$ /contact.php [QSA,L]
RewriteRule ^photos(/)?$ /photos.php [QSA,L]
RewriteRule ^map(/)?$ /travelmap.php [QSA,L]
RewriteRule ^summary(/)?$ /summary.php [QSA,L]
RewriteRule ^tags(/)?$ /tagslist.php [QSA,L]
RewriteRule ^where(/)?$ /where.php [QSA,L]

RewriteRule ^([0-9]{4})(/)?$ /dates.php?y=$1 [QSA,L]
RewriteRule ^([0-9]{4})/([0-9]{2})(/)?$ /dates.php?y=$1&m=$2 [QSA,L]
RewriteRule ^([0-9]{4})/([0-9]{2})/(articles|arrives|eats|stuff|notes|where|words|photos|adds)/?$ /dates.php?y=$1&m=$2&t=$3 [QSA,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*?)/?$ resource.php?resource=https://rhiaro.co.uk%{REQUEST_URI} [QSA,L]