body {
  font-family: Arial;
}

article {
  background-color: white;
  padding: 1em;
  margin-top: 1em; margin-bottom: 1em;
  overflow: hidden;
}
article p, article li {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  line-height: 1.58;
  font-weight: 400;
  font-size: 21px;
}
article a {
  color: inherit;
}

h1 {
  text-align: center;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.04; font-size: 40px;
}
h2 {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.022em;
  color: rgba(0, 0, 0, 0.44);
}

time {
  display: block;
  color: rgba(0, 0, 0, 0.44);
}
time a {
  color: inherit;
}

.object, .object:visited, .object:hover {
  text-decoration: none;
  color: inherit;
  padding: 0.6em;
  font-size: 1.4em;
  display: block;
  opacity: 1; line-height: 1;
}
.like {
  background-color: #fff6a4; opacity: 0.6;
}
.bookmark {
  background-color: #b4e6ee; opacity: 0.6;
}
.repost {
  background-color: #f6a400; opacity: 0.6;
}
.object span:first-of-type {
  font-size: 3em; line-height: 0.8;
}
.tags {
  font-family: sans-serif;
  font-size: 1em;
}

aside {
  width: 33%;
  float: right;
  margin-left: 1em;
}

aside time {
  text-align: left;
  overflow: hidden;
}
aside time div {
  float: left; text-align: center;
  margin-right: 1em; margin-bottom: 1em;
  padding: 0.2em 1em 0.2em 1em;
  border: 1px solid #ccc;
}
aside time div span:nth-of-type(1){
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
aside time div span:nth-of-type(2){
  font-size: 2em;
  display: block;
}
aside time>span{
  display: block;
  line-height: 1.4;
  font-size: 1.2em;
}