/**
 * Visual things that may be overridden by other themes.
**/

body {
  font-family: Arial;
}

article {
  background-color: white;
  padding: 1em;
  margin-top: 1em; margin-bottom: 1em;
  overflow: hidden;
}
article p, article li {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  line-height: 1.58;
  font-weight: 400;
  font-size: 21px;
}
article a {
  color: inherit;
}

h1 {
  text-align: center;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.04; font-size: 40px;
}
h2 {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.022em;
  color: rgba(0, 0, 0, 0.44);
}

time {
  display: block;
  color: rgba(0, 0, 0, 0.44);
}
time a {
  color: inherit;
}

summary {
  text-decoration: underline;
  cursor: pointer;
}

time.inline {
  display: inline;
}
time.inline a {
  background-color: #470229;
  color: #fff;
  font-weight: bold;
  padding: 0.4em;
  line-height: 2;
  text-decoration: none;
}
time.inline a:hover {
  text-decoration: underline;
}
.stuffholder p.desc{
  flex-grow: 4;
}
.stuffholder p {
  margin: 0;
  padding-left: 0.4em;
}

aside {
  width: 33%;
  float: right;
  margin-left: 1em;
}

aside time {
  text-align: left;
  overflow: hidden;
}
aside time div {
  float: left; text-align: center;
  margin-right: 1em; margin-bottom: 1em;
  padding: 0.2em 1em 0.2em 1em;
  border: 1px solid #ccc;
}
aside time div span:nth-of-type(1){
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
aside time div span:nth-of-type(2){
  font-size: 2em;
  display: block;
}
aside time>span{
  display: block;
  line-height: 1.4;
  font-size: 1.2em;
}

blockquote {
  border-left: 8px solid #ccc;
  padding-left: 2em; margin-left: 0px;
}

code, samp, kbd {
  font-family: "Courier New", Courier, monospace, sans-serif;
  color: #555;
  font-size: 0.8em;
}
pre code {
  line-height: 1.6em;
}
pre {
  padding: 0.1em 0.5em 0.3em 0.7em;
  border-left: 11px solid #ccc;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 93%;
}
/* target IE7 and IE6 */
*:first-child+html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto; 
}
* html pre { 
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
}


.object, .object:visited, .object:hover {
  text-decoration: none;
  color: inherit;
  padding: 0.6em;
  font-size: 1.4em;
  display: block;
  opacity: 1; line-height: 1;
}
.like {
  background-color: #fff6a4; opacity: 0.6;
}
.bookmark {
  background-color: #b4e6ee; opacity: 0.6;
}
.repost {
  background-color: #f6a400; opacity: 0.6;
}
.object span:first-of-type {
  font-size: 3em; line-height: 0.8;
}
.tags {
  font-family: sans-serif;
  font-size: 1em;
  list-style: none;
  margin: 0; padding: 0;
}
.tags a {
  font-size: 0.8em;
  text-decoration: none!important;
  padding: 0.4em; margin: 0.4em 0.2em;
  display: inline-block;
  color: inherit;
  border: 1px solid #ccc;
}
.tags a:hover {
  background-color: #ccc;
}
.tags li {
  display: inline-block;
}

.stuffholder {
  display: flex;
  align-items: stretch;
}
.stuff {
  background-size: cover;
  height: 264px; width: 264px; float: left;
  margin: 0;
}
.stuff p {
  display: none;
}
.stuff:hover p {
  display: block;
  background-color: #2d2d2d;
  opacity: 0.6;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}
.stuff p {
  margin: 0; padding: 0;
}
.stuff datetime {
  font-size: 0.6em;
  font-family: sans-serif;
  color: white;
  line-height: 1;
}
.stuff .cost {
  font-size: 3em;
}

.map {
  text-align: center;
}


.note {
  border-left: .5em solid #52E052;
  background: #E9FBE9;
  overflow: auto;
  clear: both;
  margin: 1em 0;
  padding: 1em 1.2em 0.5em;
  position: relative;
}
.wee {
  font-size: 1em;
  color: silver;
}