@import url('base.css'); /* this is a hack */
article {
  text-align: center;
}
article p {
  font-size: 1.6em;
  margin: 0;
}
article a, article a:visited {
  text-decoration: none;
  color: inherit;
}
article a:hover {
  background-color: white;
}
a.btn {
  padding: 0.2em;
}
.map {
  font-size: 0.8em;
}