/* Boxes */
.boxes {
  overflow:hidden;
  text-align: center;
  margin-left: auto; margin-right: auto;
}
.box {
  width: 32px; height: 32px;
  margin: 2px;
  float: left;
  color: white;
  font-weight: bold; text-align: center; font-size: 2em;
}

article {
  margin-left: auto; margin-right: auto;
  width: 80%;
}

nav {
  text-align: center;
  overflow: hidden;
}
nav a {
  display: inline-block;
  padding: 0.4em; margin: 0.4em;
  background-color: white; opacity: 0.6;
  border: 1px solid silver;
  font-weight: bold;
  text-decoration: none; color: inherit;
}
nav a:hover {
  opacity: 1;
}
nav a.left { float: left; }
nav a.right { float: right; }