header {
    grid-area: header;
    background-width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    padding: 1em;
}

#rhiaro {
    text-align: center;
    max-width: 100px;
}
#rhiaro img {
    max-width: 100%;
    border: 4px solid #fff;
}
#projects {
    text-align: left;
    margin-right: 0.4em;
}
#projects a {
    text-decoration: none;
}
#projects a:hover {
    text-decoration: underline;
}
#projects h1 {
    margin: 0.4em 0 1em 0;
    font-size: 1.6em;
    text-align: left;
    font-family: "Times New Roman", serif;
}
#projects p span, #projects p a, h1 span {
    background-color: #fff;
    padding: 0.4em 0.6em;
    line-height: 1.6;
}
#projects .project-box {
    width: 30px; height: 30px;
    display: inline-block;
    overflow: hidden;
}
#projects .project-box img {
    width: 100%;
    height: 100%;
}

#stats {
    text-align: left;
    padding: 0.5em 1em 1em 1em;
    background-color: #fff;
    background: rgba(250, 250, 250, 0.5);
}
#stats a {
    text-decoration: none;
}
#stats a:hover {
    text-decoration: underline;
}
.stat-box {
    padding: 0.2em;
    border: 2px solid #fff;
    border-radius: 1em;
    margin-top: -1em;
}
.stat-box div {
    height: 1em;
    border-radius: 1em;
    background-color: silver;
}
.stat-box div.bad {
    background-color: #FA7D7D;
}
.stat-box div.med {
    background-color: #FAC975;
}
.stat-box div.good {
    background-color: #ADE899;
}

nav {
    grid-area: nav;
    width: 100%;
    justify-content: center;
    font-size: 1.4em;
    text-transform: lowercase;
}
nav a {
    display: block;
    padding: 0.6em;
    text-decoration: none;
}
nav a +ul {
    padding: 0; margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
}
nav a:focus {
    font-weight: bold;
}
nav a:focus +ul {
    max-height: 20em;
}
nav ul a:hover {
    background-color: silver;
}

@media screen and (min-width: 1024px) {

    header {
        display: flex;
        justify-content: flex-start;
    }
    #rhiaro {
        flex: 1; flex-grow: 1;
    }
    #projects {
        flex: 2; flex-grow: 3;
        margin-left: 1em;
    }
    #stats {
        flex: 3; flex-grow: 2;
    }
    #projects .project-box {
        margin: 0.2em;
    }

    nav a +ul {
        /*margin: 1em;*/
    }
    nav a {
        display: none;
    }
    nav a +ul {
        max-height: 20em;
    }
    nav ul li {
        display: inline;
    }
    nav ul li a {
        display: inline-block;
        margin: 0.4em 0 0.4em 0;
    }

    #projects p span, #projects p a, h1 span {
        line-height: 1;
    }

}