article {
  width: 100%; max-width: 512px;
}

article div {
  background-color: brown;
  border: 8px solid brown;
  padding: 0.2em;
}
article div p {
  background-color: white;
  padding: 0; margin: 0;
}
article div p {
  font-size: 2em;
  padding: 0.4em;
}
article div span {
  display: block; 
  background-color: white;
  font-size: 6em;
}
article div img {
  width: 100%;
  max-width: 512px;
}