@import 'polaroid.css';

body {
  font-family: Arial;
  color: brown;
  text-align: center;
}

article div {
  background-color: brown;
  border: 8px solid brown;
}

.tags {
  text-align: left;
}

time, time a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}